<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-bug mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
			Feel free to
      <a target="_blank" class="font-weight-bold" href="mailto://brandononlyu@gmail.com">email me</a>
    </span>
		or DM me on Discord at <span class="font-weight-bold">SixBeeps#1273.</span>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}

