@page "/"
@inject NavigationManager NavigationManager

<style>
  body 
  {
    background-color: #333;
  }
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  .company-font {
      font-family: 'Roboto Mono', sans-serif;
      font-weight: 300;
      font-size: 128px; /* You can adjust size as needed */
  }
  .top-bar {
    height: 0%;
    width: 100%;
    background-color: #333; /* Choose your desired color */
    position: fixed;
    top: 0;
    left: 0;
}
</style>
<div class="top-bar" style="padding-bottom: 20px;">
<button @onclick="Registration" class="company-font" style="font-family: 'Roboto Mono', sans-serif;float:right;color: #F5F5DC;outline: none; border: 0; background: linear-gradient(135deg, #009FFF, #ec2F4B); margin-top:2%;margin-right:3%; padding: 10px 20px;">Registration</button>
<button @onclick="Login" class="company-font" style="font-family: 'Roboto Mono', sans-serif;float:right;color: #F5F5DC;outline: none; background: linear-gradient(135deg, #009FFF, #ec2F4B); margin-top:2%;margin-right: 10px; padding: 10px 20px; border: 0;">Login</button></div>
<br>
<br>
<img src="assets/logo.jpg" style="max-width: 20%; height: auto; display: block; margin: 2px auto;">
<h1 style="font-size: 96px; font-family: 'Roboto Mono', monospace; font-weight: 700; text-align: center; color: #F5F5DC; text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3)">HobbyMate</h1>
@code {
    private void Registration() 
    {
        NavigationManager.NavigateTo("/registration");
    }
    private void Login()
    {
        NavigationManager.NavigateTo("/login");
    }
}